/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.center_form{
    border: 2px solid #000099;
    border-top: none;  
    margin-top: 2rem;     
    padding-left: 2rem;    
}
input[type=submit],button{
    background: black !important;
    margin: 0 auto;
}
p,label{
    font-size: 1.5rem;
}
a{

    width: 10rem;
    border-bottom: 2px solid rgb(0, 0, 102);
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.3rem;
}
a:visited{
    color: #862d2d;

}
a:hover{
    color: #000099;
}
#form_buttons{
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between; 
 
}
#message_counter{
    color: #1063E1;
}

#new_message_link{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
#time_div{
    color: red;
}